<li>
  <% #gravatar_for user, :size => 20 %>
  <%= link_to user.login, user %>
  <% if current_user.admin? %>
  |    <%= link_to "Удалить", user, :method => :delete, 
								:confirm => "Вы уверены?",
								:title => "Delete #{user.login}" %>
  <% end %>
</li>
